<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form method="POST" action="traitmentMedicalRecords?action=UPDATE">
		<label for="firstName">FirstName</label>
		<input type="text" name="firstName"><br/><br/>
		<label for="lastName">lastName</label>
		<input type ="text" name="lastName" id ="lastName" /><br/><br/>
		<h1>Element à modifier </h1>
		<label for="medication1">medication1</label>
		<input type ="text" name="medication1" id ="medication1" /><br/><br/>
		<label for="allergies1">allergies1</label>
		<input type ="text" name="allergies1" id ="allergies1" /><br/><br/>
		<input type = "submit" value ="envoyer">
	</form>
</body>
</html>